.contenedor {
	border: solid 1px;
	width: 600px;
}

.fila {
	display: flex;
}

label {
	width: 40%;
	margin: 5px;
}

select, .txtFormulario {
	width: 30%;
	margin: 2px;
}

.btnVotar {
	margin: 10px 2px;
}

p {
	margin: 5px;
}

.btnChk {
	margin: 0px 0px 0px 5px;
}